
.posts .info {
  display: flex;
  justify-content: space-between;
  color: #999;
  max-width: calc(640px - 1rem);
  min-width: calc(640px - 1rem);
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 0.5rem;
}

.posts .info div {
  display: inline-flex;
}

.posts .info img {
  width: 16px;
  height: 16px;
}

@media screen and (max-width:768px) {
  .posts .info {
    max-width: 480px;
    min-width: 320px;
  }
}